<div class="project_show_banner left">
  <h2><%=h @project.title %></h2>
</div>
<div class="projects_scroller_wrap show_project">
  <div class="project_main_image_wrap">
    <% unless @main_pic.nil? %>
    <%= image_tag(@main_pic.asset.url(:small)) %>
    <% end %>
  </div>
</div>
<div id="triggers">
  <div class="full_20_wrap left">
    <% unless @exterior_pics.blank? %>
      <h3>Exterior Pics</h3>
      <%= render :partial => 'show_pic', :locals => {:show_pics => @exterior_pics} %>
      <% end %>
  </div>
  <div class="clear"></div>
  <div class="full_20_wrap left">
    <% unless @interior_pics.blank? %>
      <h3>Interior Pics</h3>
      <%= render :partial => 'show_pic', :locals => {:show_pics => @interior_pics} %>
    <% end %>
  </div>
  <div class="simple_overlay" id="gallery"> 
    <div class="info"></div> 
    <!-- load indicator (animated gif) --> 
    <%= image_tag("http://static.flowplayer.org/tools/img/overlay/loading.gif", :class => "progress") %>
  </div>
</div>
<div class="clear"></div>
<div class="full_20_wrap">
  <%= link_to 'View More Projects', projects_path %> 
  <% if current_admin %>
   &nbsp <%= link_to 'Add More Photos', new_pic_path %>
  <% end %>
</div>
