<div id="dashboard" class="admin_nav">
  <ul>
    <li><%= link_to "Logout", admin_logout_path %></li>
    <li><%= link_to "Admin Dashboard", admins_path  %></li>
    <li><%= link_to "Setup New Project", new_project_path %></li>
    <li><%= link_to "Upload Project Photos", new_pic_path %></li>
    <li><%= link_to "Add A Testimonial", new_testimonial_path %></li>
    <li><%= link_to "Associate List", associates_path %></li>
  </ul>
</div>