<div class="footer_nav">
	<ul>
		<li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Projects", projects_path %></li>
    <li><%= link_to "Services", services_path %></li>
    <li><%= link_to "About Us", about_path %></li>
    <li><%= link_to "Testimonials", testimonials_path %></li>
    <li><%= link_to "Contact Us", contact_path %></li>
    <li><%= link_to "Privacy Statement", privacy_path %></li>
    <li>
    <% if current_admin %>
     <%= link_to "Log out", admin_logout_path  %>
    <% else %>	
     <%= link_to "Admin", admin_login_path %>
    <% end %>
    </li>
    
	</ul>
</div>
<!-- <div class="nopay">
  
</div> -->